.accordion{
    background-color: #F3F3F3;
}

.accordion-item{
    background-color: #F3F3F3;
}

.accordion-button{
    background-color: #AED4C9;
    font-weight: bold;
    font-size: 14px;
}


.accordion-button:hover{
    background-color: #4A635B;
    color: white;
}




.accordion-body{
    font-size: 14px;
    text-align: justify;
}