.accordion{
    background-color: #F3F3F3;
}

.accordion-item{
    background-color: #93C6B7;
}

.accordion-header{
    font-weight: bold;
    font-weight: bold;
    font-size: 22px;
}

.accordion-body{
    font-size: 20px;
    text-align: justify;
}