.accordion{
    background-color: #F3F3F3;
}

.accordion-item{
    background-color: #F3F3F3;
}

.accordion-button{
    background-color: #93C6B7;
    font-weight: bold;
    font-size: 20px;
}

.accordion-button:active{
    background-color: #93C6B7;
    color: black;
}

.accordion-button:focus{
    background-color: #93C6B7;
    color: black;
}



.accordion-body{
    font-size: 20px;
    text-align: justify;
}