
.navbar{
	background-color: #6E9589;
	margin-top: 1px;
}

.navbar-toggler{
	background-color: #93C6B7;
	color: black;
	font-weight: bold;
}

.btn{
	background-color: #93C6B7;
	color: black;
}

.nav-a{
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	color: black;
}


.nav-a:hover{
	color: white;
	text-decoration: none;
}