.offcanvas{
    background-color: #DBE5E2;
}

.offcanvas-title{
    font-weight: bold;
}

.btn-close{
    background-color: red;
    color: black;
}

.dropdown-menu{
	background-color: #DBE5E2;
}

.dropdown-item{
    font-weight: bold;
}